# Gradle
.gradle/

# Android Studio
.idea/
*.iml

# Build folders
build/
*/build/

# Local config
local.properties

# Kotlin
.kotlin/

# Native build
.externalNativeBuild/
.cxx/

# Generated APKs
*.apk
*.aab

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
